:root {
    --color-green: #4a7c59; 
    --color-brown: #8d5a4c;
    --color-sand: #d9c4a0;
    --color-gray: #2f4f4f;
    --color-yellow: #e1b382;
}

body {
    background-color: var(--color-sand);
    color: var(--color-gray);
    /* add font family */
}

h2 p {
    color: var(--color-brown);
}

a {
    color: var(--color-yellow);
}

button {
    background-color: var(--color-muted-green);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

button:hover {
    background-color: var(--color-clay-brown);
    color: #FFFFFF;
}

