:root {
    --color-green: #4a7c59; 
    --color-brown: #8d5a4c;
    --color-sand: #d9c4a0;
    --color-gray: #2f4f4f;
    --color-yellow: #e1b382;
}

body {
    background-color: var(--color-sand);
    /* add font family */
}

h2 p {
    color: var(--color-brown);
}



