:root {
    --main-color: #fdf6e3;
    --dark-accent: #3e5452;
    --light-accent: #607b80;
}

.tech-moms:visited {
    color: var(--dark-accent);
}


#about-me .col-md-8 p {
    margin-top: 20px; /* Pushes paragraphs inside the "col-md-8" div */
}

#about-me .col-md-8 {
    padding-top: 10%;;
}