footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 20px;
    width: 100%; /* Ensure it spans the full width of the viewport */
    position: relative; /* Ensure normal document flow */
    bottom: 0; /* Anchor it at the bottom if needed */
    box-sizing: border-box; /* Prevent padding from breaking the layout */
}

footer a {
    color: var(--dark-accent);
    transition: color 0.25s ease-in;
    font-size: 2rem;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: var(--light-accent);
}