:root {
    --main-color: #fdf6e3;
    --dark-accent: #3e5452;
    --light-accent: #607b80;
}


.navbar {
    background-color: var(--main-color) !important;
    padding: 15px 20px;
}

.navbar-brand {
    color: var(--dark-accent);
    font-size: 2.0rem;
    font-weight: bold;
}



.nav-link {
    margin-right: 15px;
    color: var(--dark-accent)

}

.nav-link:hover {
    background-color: var(--light-accent);
    transition: color 0.25s ease-in;
}



